<!DOCTYPE HTML>
<!--
        thymeleaf 본격적으로 등장
        페이지 소스보면 등록한 이름대로 tr태그가 늘어나는 것을 확인할 수 있다.
        하지만 코드의 <tr>태그는 1개 -> thymeleaf 동작 ? -> th:each 로 loop 돌기(thymeleaf 문법)

        ${ }안에 있는 값은 model 안에 있는 값을 꺼내는 것

        서버를 내렸다가 다시 키게 되면 데이터는 당연히 모두 지워진다.
        why? : 메모리 안에 있기 때문에 자바를 내려버리면 당연히 회원데이터가 사라짐
        따라서 이 데이터들을 파일이나 데이터베이스에 저장을 해야한다!
-->
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div>
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>이름</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="member : ${members}">
                <td th:text="${member.id}"></td>
                <td th:text="${member.name}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>